* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {}

.btn {
    position: relative;
}

.btn .play {
    position: relative;
    width: 80px;
    height: 80px;
    background: #333;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 15px 25px #333;
    transition: 0.5s;
}

.btn .play::before {
    content: '';
    position: absolute;
    border: 25px solid #fff;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-right: 15px solid transparent;
    transform: translateX(10px);
}

.btn.active .play {
    box-shadow: 0 0 0 150vh #333;
}

.clip {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
}

.clip video {
    max-width: 80%;
    outline: none;
    border: 10px solid white;
}

.clip.active{
    transition-delay: 0.5s;
    transition: 0.5s;

}

.clip .close {
    position: absolute;
    top: 30px;
    right: 30px;
    cursor: pointer;
}

/* responsive */
@media(max-width: 991px) {
    .clip video {
        max-width: 80%;
    }
}