/* swiper.js styles */
.shapeDivider {
  position: relative;
  width: 100vw;
}

.shapeDivider::after {
  z-index: -10;
  content: "";
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  border-radius: 0 0 50% 50%/ 0 0 10% 10%;
  background: linear-gradient(
      217deg,
      rgba(251, 209, 255, 1),
      rgba(251, 209, 255, 0.2) 70.71%
    ),
    linear-gradient(
      127deg,
      rgba(209, 239, 255, 1),
      rgba(209, 239, 255, 0.2) 70.71%
    ),
    linear-gradient(
      336deg,
      rgb(254, 254, 254, 1),
      rgba(254, 254, 254, 0) 70.71%
    );
}

/* slides */
/* hero swiper */
.swiper.heroSwiper {
  width: 100vw;
  height: 100%;
  padding-bottom: 50px;
  background-color: transparent;
  position: relative;
}

.heroSwiper .swiper-slide {
  background-position: center;
  background-size: cover;
}

.heroSwiper .swiper-slide img {
  display: block;
  width: 100%;
  height: 400px;
  object-fit: cover;
}

.heroSwiper .swiper-slide.swiper-slide-active {
  background-color: var(--white);
  flex-basis: 60%;
}

.heroSwiper .swiper-slide.swiper-slide-prev {
  flex-basis: calc(20% - 80px);
}

.heroSwiper .swiper-slide.swiper-slide-next {
  flex-basis: calc(20% - 80px);
}

.heroSwiper .swiper-slide.swiper-slide-active .slideInfoContainer {
  display: block;
}

.heroSwiper .swiper-slide.swiper-slide-prev::after,
.heroSwiper .swiper-slide.swiper-slide-next::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5);
}

.heroSwiper .slideInfoContainer {
  display: none;
  padding: 2rem;
}

.heroSwiper .teamDate {
  display: flex;
  gap: 10px;
  padding-top: 10px;
}

.heroSwiper .slideTeam {
  font-weight: bold;
}

.heroSwiper .slideDate {
  color: var(--bodyText);
}

.heroSwiper .slideBody {
  padding-bottom: 10px;
}

.heroSwiper .slideTitle {
  padding: 15px 0px;
  font-family: var(--ffLora);
}

/* paginations */
.heroSwiper .swiper-pagination {
  margin-top: 20px;
}

.heroSwiper .swiper-pagination-bullets {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 5px;
  /* z-index: 1; */
}

.heroSwiper .swiper-pagination-bullets::after {
  position: absolute;
  content: "";
  background-color: white;
  width: 5%;
  height: 100%;
  border-radius: 30px;
  left: auto;
  top: 0;
}

.heroSwiper .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #5742ac;
  z-index: inherit;
}

/* arrows */
.heroSwiper .swiper-wrapper {
  width: 100%;
}

.heroSwiper .swiper-button-prev,
.heroSwiper .swiper-button-next {
  background-color: var(--black);
  padding: 1.5rem;
  color: var(--white);
  position: absolute;
}

.heroSwiper .swiper-button-prev {
  top: 30%;
  left: calc(20% - 8rem);
}

.heroSwiper .swiper-button-next {
  top: 30%;
  right: calc(20% - 8rem);
}

/* blog swiper */

.swiper.blogSwiper {
  width: 100%;
  height: 100%;
  max-height: 400px;
  background-color: transparent;
  position: relative;
}

/* slides */
.blogSwiper .swiper {
  width: 100%;
  height: 100%;
}

.blogSwiper .swiper-slide {
  background-position: center;
  background-size: cover;
}

.blogSwiper .swiper-slide img {
  display: block;
  width: 100%;
}
