:root {
  --black: #2c2347;
  --primary: #5742ac;
  --white: #ffffff;
  --bodyText: #676276;
  --surface: #f5f4fb;
  --ffLora: "Lora", serif;
}

/* CSS reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "DM Sans", sans-serif;
  color: var(--black);
  position: relative;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

/* ---Global Classes--- */

.btn {
  display: inline-block;
  border: none;
  outline: none;
  padding: 0.75rem 1.25rem;
  cursor: pointer;
  font-size: 1.2rem;
  font-family: inherit;
}

.btn-primary {
  background-color: transparent;
  color: var(--primary) !important;
  border: 1px solid var(--primary);
  transition: all 0.3s;
}

.btn-primary:hover {
  color: var(--white) !important;
  border: 1px solid var(--primary);
  background-color: var(--primary);
  transition: all 0.3s;
}

.btn-secondary {
  background-color: var(--primary);
  color: var(--white);
  transition: all 0.3s;
  padding: 7px 20px;
}

.btn-secondary:hover {
  background-color: #36296c;
  transition: all 0.3s;
}

.btn-white {
  padding: 12px 32px;
  background-color: var(--white);
  color: var(--primary);
}

.btn-white:hover {
  background-color: var(--surface);
}

/* ---Style--- */
/* --Navbar-- */
nav {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 20px;
  background-color: var(--white);
  position: relative;
}

.hamburger {
  display: none;
  position: absolute;
  z-index: 100;
  top: 1rem;
  right: 1rem;
  padding: 5px;
  border: 1px solid var(--primary);
  background: white;
  cursor: pointer;
  color: var(--primary);
}

.menu {
  display: none;
}

.menu a {
  display: inline-block;
}

.menu .navlinks {
  color: var(--black);
}

.menu .navlinks:hover,
.menu .navlinks:active {
  color: var(--primary);
}

.menu.showMenu {
  display: grid;
  width: 100vw;
  height: 100vh;
  position: fixed;
  background-color: var(--white);
  top: 0;
  left: 0;
  z-index: 3;
  text-align: center;
  gap: 20px;
  justify-content: center;
  list-style: none;
  align-items: center;
}

.menu.showMenu .hamburger {
  color: var(--bodyText);
  border: 1px solid var(--bodyText);
}

.navbar {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
  list-style: none;
}

.navbar li {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar .navlinks {
  color: var(--black);
  display: inline-block;
  text-transform: capitalize;
  border-bottom: 1px solid transparent;
  transition: 0.25s ease-out;
  padding: 7px 20px;
  border: 1px solid transparent;

}

.navbar .navlinks:hover {
  border-bottom: 1px solid var(--black);
  transition: 0.25s ease-in;
}

.navBtn {
  padding: 7px 20px;
  color: var(--white) !important;
  background-color: var(--primary);
  border: 1px solid var(--primary);
  transition: all 0.3s;
}

.navBtn:hover {
  color: var(--black) !important;
  background-color: transparent;
  border: 1px solid var(--primary);
  transition: all 0.3s;
}

.logo {
  text-align: center;
}

.logo a {
  font-style: bold;
  font-size: 1.3rem;
}

/* blog section */
#blog {
  width: 100%;
  max-width: 1290px;
  margin: 1rem auto;
}

.blogMenu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2rem 0;
  gap: 20px;
}

.blogMenuContent {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  flex-wrap: wrap;
}

.blogTitle {
  font-size: 2.7rem;
}

.blogCategory {
  display: flex;
  list-style: none;
  gap: 1rem;
}

.blogCategoryLink {
  color: var(--black);
  padding: 1rem 1.5rem;
  background-color: rgba(44, 35, 72, 0.1);
  border-radius: 40px;
  transition: all 0.3s ease-out;
}

.blogCategoryLink:hover {
  background-color: var(--primary);
  color: var(--white);
  transition: all 0.3s ease-in;
}

.blogSearch {
  position: relative;
  border: 1px solid var(--white);
  padding: 0.2rem 0.6rem;
  font-size: 1.2rem;
  border-radius: 40px;
  background-color: var(--surface);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2px;
}

.blogSearch input {
  outline: none;
  outline-offset: none;
  border: none;
  background-color: transparent;
  width: 100%;
  padding: 10px;
  margin: 3px;
  text-align: start;
  font-size: 1.2rem;
}

.blogSearch .blogSearchIcon {
  color: var(--black);
  padding-left: 12px;
}

.blogGrid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  width: 100%;
  margin: 0 auto;
}

.blogPost1 {
  grid-area: 1/1/2/4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  /* grid-column: 1/3; */
}

.blogPost2 {
  grid-area: 1 / 4 / 2 / 7;
}

.blogPost3 {
  grid-area: 2 / 1 / 3 / 7;
  background: url("../assets/images/bulb.jpg") no-repeat center center / cover;
  width: 100%;
  height: 100%;
  background-position: center center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.blog3Container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.1);
  color: var(--white);
  backdrop-filter: blur(20px);
  margin: 78px 220px;
  padding: 50px;
}

.blog3Container h3 {
  font-size: 2.25rem;
}

.blog3Container p {
  padding: 10px;
}

.blog3Container button {
  padding: 12px 32px;
  background-color: var(--white);
  color: var(--black);
  border: none;
}

.blogPost4 {
  grid-area: 3 / 1 / 4 / 5;
}

.blogPost5 {
  grid-area: 3 / 5 / 4 / 7;
  background: url("../assets/images/robot.png") no-repeat center center / cover;
  min-height: 200px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.post5Constainer {
  padding: 20px;
  margin: 0 10px 5px 10px;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.post5Constainer h3 {
  font-size: 1.25rem;
  text-transform: uppercase;
}

.blogPost6 {
  grid-area: 4 / 1 / 5 / 3;
}

.blogPost7 {
  grid-area: 4 / 3 / 5 / 5;
}

.blogPost8 {
  grid-area: 4 / 5 / 5 / 7;
}

.blogPost9 {
  grid-area: 5 / 1 / 6 / 3;
  display: none !important;
}

.blogPost10 {
  grid-area: 5 / 3 / 6 / 5;
  display: none !important;
}

.blogPost11 {
  grid-area: 5 / 5 / 6 / 7;
  display: none !important;
}

.blogPost9.active {
  display: flex !important;
}

.blogPost10.active {
  display: flex !important;
}

.blogPost11.active {
  display: flex !important;
}

.blogBodyBtnContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3rem auto;
}

.blogContent {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 0.7rem;
  background-color: var(--surface);
}

.blogTeamDate {
  display: flex;
  justify-content: start;
  align-items: start;
  gap: 1rem;
  margin-top: 1rem;
}

.blogTeam {
  text-transform: uppercase;
}

.blogDate {
  color: var(--bodyText);
}

.blogTitle {
  font-size: 2rem;
  font-family: var(--ffLora);
  padding: 0.8rem 0px;
}

.blogText {
  color: var(--bodyText);
}

.blogAuthor {
  color: var(--bodyText);
  padding: 0.8rem 0px;
}

.post {
  display: flex;
  flex-direction: column;
}

.post img {
  width: 100%;
  height: 100%;
  max-height: 400px;
  object-fit: cover;
}

/* post video  */
.blogPost2 {
  position: relative;
}

.playBtnContainer {
  position: absolute;
  top: 50%;
  right: 0;
  cursor: pointer;
}

.playBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.3rem;
  padding: 1rem 1.2rem;
  color: var(--surface);
  font-size: 1.2rem;
}

.playBtn i {
  font-size: 1.1rem;
  color: var(--surface);
}

.videoModal,
.formModal {
  display: none;
}

.videoModal.active,
.formModal.active {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(44, 35, 71, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 5;
}

.clip {
  display: flex;
  justify-content: center;
  align-items: center;
}

.videoModal.active video {
  width: 70%;
  height: 70%;
  border: 10px solid var(--white);
}

.videoModal.active .videoModalCloseBtn,
.formModal.active .formModalCloseBtn {
  z-index: 3;
  position: fixed;
  top: 40px;
  right: 1.5rem;
  color: var(--surface);
  font-size: 3rem;
  cursor: pointer;
}

.videoModal.active .videoModalCloseBtn:hover,
.formModal.active .formModalCloseBtn:hover {
  color: red;
}

.formModal.active h2 {
  font-size: 1.3rem;
  background: var(--black);
  backdrop-filter: blur(20px);
  color: var(--white);
  padding: 20px;
}

.formModal.active .form-group {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
}

.formModal.active .name,
.formModal.active .email {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.formHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--black);
  padding: 0 20px;
}
.formHeader p {
  color: var(--white);
  font-size: 1.5rem;
  cursor: pointer;
}

.formBody {
  background: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(20px);
  padding: 25px;
}

.formBody input,
.formBody select {
  border: none;
  outline: none;
  padding: 10px;
  width: 100%;
}

.formBody .subject {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin: 20px auto;
}

.formBody .message {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin: 20px auto;
}

.formBody .message textarea {
  width: 100%;
  height: 100px;
  font-family: inherit;
  padding: 5px;
}

.formBtnBody {
  display: flex;
  justify-content: flex-end;
}

/* footer */
footer {
  background-color: var(--black);
  color: var(--white);
  padding: 3rem 3rem 1rem 3rem;
}

footer h4 {
  font-size: 2rem;
}

footer i {
  color: rgba(255, 255, 255, 0.6);
  font-style: 2rem;
}

footer ul {
  list-style: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  margin: 2rem 0;
}

.footerIcons {
  text-decoration: none;
  color: var(--surface);
  border: 1px solid rgba(255, 255, 255, 0.6);
  border-radius: 50%;
  padding: 20px;
  /* margin-right: 10px; */
  margin-top: 15px;
  transition: 0.3s ease-in;
  font-size: 1.2rem;
}

.footerIcons:hover {
  color: var(--primary);
  background-color: var(--white);
  transition: 0.3s ease-out;
}

.footerCopyTerm p {
  color: rgba(255, 255, 255, 0.6);
}

.footerCopyTerm {
  padding-top: 2rem;
  margin-top: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footerCopyTerm a {
  color: var(--white);
  text-decoration: underline;
}
